/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
    margin: 25px;
    background-color: rgb(240, 240, 240);
    font-family: arial, sans-serif;
    font-size: 14px;

    /*background-image: url*/
}

/* Applies to all <h1>...</h1> elements. */
h1 {
    font-size: 40px;
    font-weight: normal;
    margin-top: 5px;
}
nav {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111111;
}

.active {
    background-color: #04aa6d;
}

div3 {
    height: 200px;
    width: 50%;
    background-color: powderblue;
}

#posttitle {
    width: 250px;
}

#postcontent {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 15px;
}
#tag{
    margin-bottom: 10px;
}



.login{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,10,0.3),rgba(0,0,10,0.3)), url(https://cdn.glitch.global/29368e40-725a-4316-baca-33103f91d183/background.jpeg?v=1677694231440);
    background-position: center;
    background-size: cover;
}

.form-box{
    width:40%;
    max-width: 450px;
    position: absolute;
    top: 65%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h2{
    font-size:30px;
    margin-bottom:60px;
    color: black;
    position: relative;
}
.form-box h2::after{
    content:'';
    width:30px;
    height:4px;
    border-radius: 3px;
    background: black;
    position: absolute;
    bottom:-12px;
    left:50%;
    transform: translateX(-50%);
}
.input-group{
    background: #eaeaea;
    margin:15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

/*input{
  width:100%;
  background: transparent;
  border:0;
  outline:0;
  padding:18px;
}
*/
#SignE{
    width:100%;
    background: transparent;
    border:0;
    outline:0;
    padding:18px;
}
#SignP{
    width:100%;
    background: transparent;
    border:0;
    outline:0;
    padding:18px;
}
#LogE{
    width:100%;
    background: transparent;
    border:0;
    outline:0;
    padding:18px;
}
#LogP{
    width:100%;
    background: transparent;
    border:0;
    outline:0;
    padding:18px;
}
.input-group i{
    margin-left: 15px;
    color: #999999;
}
form p{
    text-align: left;
    font-size: 13;
}
form p a{
    text-decoration:none;
    color: gray;
}
.SignButton{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.SignButton button{
    flex-basis:48%;
    background: #3c00a0;
    color: #ffffff;
    height:40px;
    border-radius:20px;
    border:0;
    outline:0;
    cursor: pointer;
    transition: background 1s;
}

.signUpForm{
    height:280px;
}
.SignButton button.disable{
    background: #eaeaea;
    color: #555555;
}